<?xml version="1.0"?>
<config>
  <modules>
    <BlueVisionTec_EnhancedGoogleShopping>
      <version>0.0.2</version>
    </BlueVisionTec_EnhancedGoogleShopping>
  </modules>
  
  <global>       
    <models>
      <enhancedgoogleshopping>
          <class>BlueVisionTec_EnhancedGoogleShopping_Model</class>
      </enhancedgoogleshopping>
	  <googleshopping>
		<rewrite>
		  <service_item>BlueVisionTec_EnhancedGoogleShopping_Model_Service_Item</service_item>
		  <attribute_link>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_Link</attribute_link>
		  <attribute_Link>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_Link</attribute_Link>
		  <attribute_imagelink>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_ImageLink</attribute_imagelink>
		  <attribute_imageLink>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_ImageLink</attribute_imageLink>
		  <attribute_ImageLink>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_ImageLink</attribute_ImageLink>
		  <attribute_content>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_Content</attribute_content>
		  <attribute_Content>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_Content</attribute_Content>
		  <attribute_price>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_Price</attribute_price>
		  <attribute_Price>BlueVisionTec_EnhancedGoogleShopping_Model_Attribute_Price</attribute_Price>
		  <massOperations>BlueVisionTec_EnhancedGoogleShopping_Model_MassOperations</massOperations>
		</rewrite>
	  </googleshopping>
    </models>
    <blocks>
      <enhancedgoogleshopping>
        <class>BlueVisionTec_EnhancedGoogleShopping_Block</class>
      </enhancedgoogleshopping>
    </blocks>
    <helpers>
      <enhancedgoogleshopping>
        <class>BlueVisionTec_EnhancedGoogleShopping_Helper</class>
      </enhancedgoogleshopping>
    </helpers>
	<resources>
	  <enhancedgoogleshopping_setup>
		  <setup>
			  <module>BlueVisionTec_EnhancedGoogleShopping</module>
			  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		  </setup>
		  <connection>
			  <use>core_setup</use>
		  </connection>
	  </enhancedgoogleshopping_setup>
	  <enhancedgoogleshopping_write>
		  <connection>
			  <use>core_write</use>
		  </connection>
	  </enhancedgoogleshopping_write>
	  <enhancedgoogleshopping_read>
		  <connection>
			  <use>core_read</use>
		  </connection>
	  </enhancedgoogleshopping_read>
	</resources>
  </global>
  
  <adminhtml>
	<translate>
        <modules>
          <enhancedgoogleshopping>
            <files>
              <default>BlueVisionTec_EnhancedGoogleShopping.csv</default>
            </files>
          </enhancedgoogleshopping>
        </modules>
      </translate>
  </adminhtml>
  
  <adminhtml>
    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <bvt_enhancedgoogleshopping_config>
                                        <title>BlueVisionTec_EnhancedGoogleShopping settings</title>
                                    </bvt_enhancedgoogleshopping_config>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
  </adminhtml>
   
  <default>
    <bvt_enhancedgoogleshopping_config>
      <settings>
        <autorenew_notlisted>1</autorenew_notlisted>
        <autoremove_disabled>1</autoremove_disabled>
      </settings>
    </bvt_enhancedgoogleshopping_config>
	<google>
		<googleshopping>
			<target_country>US</target_country>
			<account_type>HOSTED_OR_GOOGLE</account_type>

			<!-- Available target countries. Each country must have
					language code (ISO 639-1) and currency code (ISO 3166)
					according to Google Content documentation. -->
			<allowed_countries>
				<AT translate="name currency_name">
					<name>Austria</name>
					<language>de</language>
					<locale>de_AT</locale>
					<currency>EUR</currency>
					<currency_name>Euro</currency_name>
				</AT>
			</allowed_countries>
		</googleshopping>
	</google>
  </default>
  
</config>
