<?xml version="1.0"?>
<config>
  <tabs>
    <bvt_modules translate="label">
      <label>BlueVisionTec Modules</label>
      <sort_order>1000</sort_order>
    </bvt_modules>
  </tabs>
  <sections>
    <bvt_enhancedgoogleshopping_config translate="label">
      <label>EnhancedGoogleShopping</label>
      <tab>bvt_modules</tab>
      <frontend_type>text</frontend_type>
      <sort_order>200</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <settings translate="label">
          <label>Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <autorenew_notlisted translate="label">
              <label>Renew not listed items</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
			  <comment>Renew items which are not listed on Google Shopping while performing synchronisation</comment>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </autorenew_notlisted>
            <autoremove_disabled translate="label">
              <label>Remove disabled items</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
			  <comment>Remove items which are disabled in Magento while performing synchronisation</comment>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </autoremove_disabled>
          </fields>
        </settings>
      </groups>
    </bvt_enhancedgoogleshopping_config>
  </sections>
</config>